@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-open-sans: "Open Sans", sans-serif;
  --font-fixel: "Fixel Display", sans-serif;
  --color-primary: #071429;
  --color-secondary: #07142980;
  --color-main-blue: #0e64ee;
  --color-main-grey: #e7edf8;
  --color-light-grey: #f3f6fc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-main-blue: var(--color-main-blue);
  --color-main-grey: var(--color-main-grey);
  --color-light-grey: var(--color-light-grey);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-open-sans: var(--font-open-sans);
  --font-fixel: var(--font-fixel);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--color-primary);
  font-family: Open Sans, Helvetica, sans-serif;
}
